html, body { height:100%;width:100% };

 .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1, h2 {
  color: #525454;
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 1.25em;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #f1efe8;
}

.header {
  color: white;
  background-color: #137cae;
  display: block;
  height: 60px;
  width: 100%;
}

/*
.hide-show {
  background-color: #f0ffff;
  padding: 0px;
  width: 64px;
  height: 100%;
  display: flex;
  flex-flow: wrap;

}
*/

.info-box {
  background-color: #f1efe8;
  border-style: solid;
  border: 1px solid #999;
  color: #525454;
  border-radius: 5px;
  opacity: 1.0;
  padding: 5px;
  font-size: .8em;
}

.info-box-details {
  width: 220px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.info-box-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.info-contents {
list-style-type: none;
display: block;
padding: 0;
}

.li-myList {
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
  list-style-type: none;
  color: #525454;
}

li:active {
  background-color: #137cae;
  color: white;
}


.main-title {
  background-color: #137cae;
  color: white;
  text-align: center;
  width:auto;
  padding: 15px;
}

.map {

   height: 100vh;
   width: 100%;
}

.offline-div {
  margin: 0;
  padding: 1vh;
  position: relative;
  top: 25vh;
  background-color: #f1efe8;
  color: #525454
}

.offline-map {
  background-image: url('/images/offline-map.png');
  background-size: cover;
  height: 100%;
  text-align: center;
  opacity: .5;
  background-repeat: no-repeat;
  width: 100%;
}

.toggle-menu {
  height: 100%;
  width: 40px;
}


.options-box {
  background: #f1efe8;
  /*border: 1px solid #999;
  border-radius: 3px;*/
  height: 100%;
  /*line-height: 35px;*/
  padding: 10px 10px 30px 10px;
  text-align: left;
  /*width: 340px;*/
  width: 30%;
  width: 340px;
  font-size: .8em;
}

.options-box-closed {
  display: none;
}

.options-box-details {
  width: 95%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.options-box-open {
  display: inline-block;
}

.options-button{
 background-image: url('/round-arrow-button.png');
 background-color: #137cae;
 background-repeat: no-repeat;
 margin: 22px;
 width: 16px;
 height: 16px;
 border: none;
 cursor: pointer;
 float: left;
 outline: none;
}

.options-button-open {
  transform: rotate(45deg);
}

.options-button-close {
  transform: rotate(225deg);
}


.ul-scroll {
  background:#f1efe8;
  border: 1px solid #999;
  border-radius: 5px;
  height: 20vh;
  overflow: auto;
  padding: 10px 10px 30px 10px;
  text-align: left;
  font-size: 1em;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 450px) {
  .options-box {
    width: 60%;
  }
}
